@import colours

$margin: 5px
$border: 1px

#kb-column-wrap
  width: 100%
  display: flex
  flex-flow: row wrap
  flex: 1

kb-column
  flex: 1
  min-width: 300px
  float: left
  min-height: 100px
  background-color: $base02
  border: $border solid black
  margin: $margin
  padding: $margin 0
  border-radius: 8px

.kb-column-title
  font-size: 1.5em
  font-weight: bold
  font-family: serif
  margin: 14pt 5pt
  padding: 0
  color: $base1

