kb-column {
  width: calc(100% - 12px);
  float: left;
  min-height: 100px;
  background-color: #073642;
  border: 1px solid black;
  margin: 5px;
  padding: 5px 0;
  border-radius: 8px; }

@media (min-width: 720px) {
  kb-column {
    width: calc(50% - 12px); } }
@media (min-width: 1000px) {
  kb-column {
    width: calc(33.33333% - 12px); } }
.kb-column-title {
  font-size: 1.5em;
  font-weight: bold;
  font-family: serif;
  margin: 14pt 5pt;
  padding: 0;
  color: #93a1a1; }

kb-card {
  display: block;
  border: 1px solid black;
  border-radius: 5px;
  margin: 5px;
  background-color: #002b36; }
  kb-card .title {
    font-size: 1.2em;
    color: #eee8d5; }
  kb-card .content {
    transition: display 0.25s ease-in-out;
    padding: 5px;
    color: #fdf6e3; }

.dragging {
  border: 2px dashed #839496; }
  .dragging * {
    filter: blur(3px);
    -webkit-filter: blur(3px); }

.hidden {
  display: none; }

html, body {
  height: 100%;
  margin: 0;
  background-color: #002b36; }

kb-button {
  display: block;
  width: 20px;
  height: 20px;
  float: right;
  color: #839496;
  cursor: default; }

.editable-text {
  border: none;
  background: none;
  display: table-cell;
  width: 100%; }

span.title-wrap {
  display: block;
  overflow: hidden;
  padding: 0 5px; }

#kb-board-title {
  font-size: 2em;
  font-weight: bold;
  font-family: serif;
  margin: 10pt 0 5pt 0;
  padding: 0;
  color: #93a1a1; }

#kb-board-desc {
  font-size: 1.2em;
  font-family: serif;
  margin: 8pt 0;
  color: #eee8d5; }
