$base03:    #002b36
$base02:    #073642
$base01:    #586e75
$base00:    #657b83
$base0:     #839496
$base1:     #93a1a1
$base2:     #eee8d5
$base3:     #fdf6e3
$yellow:    #b58900
$orange:    #cb4b16
$red:       #dc322f
$magenta:   #d33682
$violet:    #6c71c4
$blue:      #268bd2
$cyan:      #2aa198
$green:     #859900

html, body
  height: 100%
  margin: 0
  background-color: $base03

kb-column
  width: 33%
  float: left
  min-height: 100px
  background-color: $base02
  border: 1px solid black
  margin: 0 0.1%
  border-radius: 8px

kb-button
  display: block
  width: 20px
  height: 20px
  float: right
  background-color: white
.drag
  background-color: red
.minimise
  background-color: orange
.viewboard
  background-color: green
.viewparent
  background-color: blue
.delete
  background-color: grey
.add
  background-color: yellow
.saveboard
  background-color: purple


.editable-text
  border: none
  background: none
  display: table-cell
  width: 100%

.hidden
  display: none

span.title-wrap
  display: block
  overflow: hidden
  padding: 0 5px

kb-card
  display: block
  border: 1px solid black
  border-radius: 5px
  margin: 5px
  background-color: $base03
  .title
    font-size: 1.2em
    color: $base2
  .content
    transition: display .25s ease-in-out
    padding: 5px
    color: $base3

.dragging
  border: 2px dashed $base0
  *
    filter: blur(3px)
    -webkit-filter: blur(3px)

.kb-column-title
  font-size: 1.5em
  font-weight: bold
  font-family: serif
  margin: 14pt 5pt
  padding: 0
  color: $base1

#kb-board-title
  font-size: 2em
  font-weight: bold
  font-family: serif
  margin: 10pt 0 5pt 0
  padding: 0
  color: $base1

#kb-board-desc
  font-size: 1.2em
  font-family: serif
  margin: 8pt 0
  color: $base2
